*{
	padding: 0;
	margin: 10px;
}

h1 {
	text-align: center;
	background-color: olive;
	color: white;
	padding: 20px;
}

h2 {
	background-color: mediumaquamarine;
	color: white;
}

li {
	background-color: wheat;
	color: black;
	margin-left: 400px;
	margin-right: 400px;
}

div {
	text-align: center;
}

img {
	width: 200px;
	height: 200px;
	border-radius: 50%;
	object-fit: cover;
}
